$brand-color-green: #53DF79;
$brand-color-dark: #352107;
$brand-color-peach: #F7C49C;
$brand-color-peach-hover: #F0CAAF;

$green-color-1: #25F0B8;
$green-color-2: #66ECC7;
$green-color-4: #CAFFEF;
$green-color-5: #EAFCF7;

$global-padding: 8px;
$global-margin: 8px;

$border-radius: 2px;

tr {
  height: 56px;
}
